


.header__center {
 
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
    
}

.header__center::before,
.header__center::after {
    content: "";
    display: block;
    height: 1px;
    background-color: currentColor;
}